/* PAGE */

.auth-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg,#081a2d,#020d18);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MAIN BOX */

.auth-box {
  width: 900px;
  height: 520px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 60px rgba(0,255,255,0.2);
  animation: fade 0.8s ease;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* FORM SIDE */

.auth-form {
  width: 50%;
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.auth-form h2 {
  font-size: 36px;
  margin-bottom: 10px;
}


.auth-form p {
  color: #aaa;
  margin-bottom: 30px;
}


.auth-form input {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  outline: none;
}


.auth-form input:focus {
  border-color: cyan;
  box-shadow: 0 0 10px cyan;
}


/* BUTTON */

.auth-btn {
  background: linear-gradient(45deg,#00f5ff,#0099ff);
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}


.auth-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px cyan;
}


/* SWITCH */

.auth-switch {
  margin-top: 25px;
  font-size: 14px;
  color: #aaa;
}


.auth-switch span {
  color: cyan;
  margin-left: 6px;
  cursor: pointer;
}


.auth-switch span:hover {
  text-decoration: underline;
}


/* IMAGE SIDE */

.auth-image {
  width: 50%;
  background: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c")
    center/cover;
  position: relative;
}


.image-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.3)
  );

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.image-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}


.image-overlay p {
  font-size: 16px;
  opacity: 0.8;
}